@use "./utils" as *;
@use "./global" as *;

.main {
  display: flex;
  flex-direction: column;
  background: var(--src) 50% 100% / 100% no-repeat;
  background-color: rgb(255 255 255);
  overflow: hidden;
}
